/*Adds font from Google Fonts and makes text white for page*/
*{
    font-family: 'Orbitron', sans-serif;
    color: #ffffff;
}

#body{
    background: #696969;
}

#main-header{
    text-align: center;
    background: linear-gradient(45deg, #000000, transparent);
    font-size: 75px;
    color: #ffffff;
}

#under-header{
    margin-left: 0px;
}

#search-col{
    text-align: left;
}
/*Style for current day in the city*/
#city-row{
    border: 5px;
    border-color: #ffffff;
    border-style: solid;
    background: linear-gradient(45deg, black, transparent);
    color: #ffffff;
}
/*Style for 5-day forecast*/
.forecast{
    border: 3px;
    border-color: #ffffff;
    border-style: solid;
    background: linear-gradient(45deg, black, transparent);
    color: #ffffff;
}
/*local storage buttons*/
#local-search{
    display: grid;
}
/*icon from API*/
#temp-icon {
    width: 250px;
    margin: auto;
}

#page {
    margin: 0px;
}
/*Button styling*/
#search-button{
    background: linear-gradient(45deg, #000000,transparent);
    color: #ffffff;
}

.stored-cities {
    background: linear-gradient(45deg, #000000,transparent);
    color: #ffffff;
    width: 60%;
}